body{
    font-family:Arial, Helvetica, sans-serif ;
}
#main-heading{
    text-align:center;
}
.todo-container{
display: grid;
grid-template-columns:200px 150px 100px;
}
.grid-container{
display: grid;
grid-template-columns:200px 150px 100px;
column-gap:10px;
row-gap:10px;
margin-top:10px;
align-items:center;
}
#Todo-input,#Todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.button-todo{
    color: white;
    background-color:green;
    border:none;
    border-radius:15px;
    padding:15px 0px;
    cursor: pointer;
}
.button-delete{
    color: white;
    background-color:rgb(189, 25, 25);
    border:none;
    border-radius:15px;
    padding:15px 0px;
    cursor: pointer;
}